@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }

*{
  font-family: "Neue_Montreal";
}

@font-face {
  font-family: 'Neue_Montreal';
  src: url('/fonts/NeueMontreal.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Summer Loving';
  src: url('/fonts/Summer-Loving-Regular.otf') format('opentype');
  font-display: swap;
}














