@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }

*{
  font-family: "Neue_Montreal";
}

@font-face {
  font-family: "Neue_Montreal";
  src: url("NeueMontreal.ttf");
}
  
@font-face {
  font-family: "Summer_Loving";
  src: url("Summer-Loving-Regular.otf");
}












