@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden; /* Prevent horizontal scrolling on the whole body */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar in webkit browsers */
  }

*{
  font-family: "Neue MOntreal";
}
  
@font-face {
  font-family: "Summer_Loving";
  src: url("Summer-Loving-Regular.otf");
}












